@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: rgb(250 250 250 / 1);
  --foreground: rgb(24 24 27 / 1);
}

.dark {
  --background: rgb(24 24 27 / 1);
  --foreground: white;
} */


:is(body, section, aside) {
  @apply bg-zinc-50 text-zinc-900 dark:bg-zinc-800 dark:text-white
  will-change-[background-color,color] transition-colors duration-300 
}

.card {
  @apply border-zinc-900 dark:border-gray-500 border-2 rounded-2xl;
}