@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: rgb(250 250 250 / 1);
  --foreground: rgb(24 24 27 / 1);
}

.dark {
  --background: rgb(24 24 27 / 1);
  --foreground: white;
} */


/* html body {
  @apply bg-zinc-50 text-zinc-900
}

html.dark body {
  @apply bg-zinc-900 text-white
} */